
<footer class="footer_typesome">
	<div class="main_typesome">
	<ul>
		<li><span class="tooltip">Subscribe!</span><a class="fa fa-rss" target="_blank" href="{{@blog.url}}/rss/"></a></li>
		<li><span class="tooltip">Twitter</span><a class="fa fa-twitter" href="#"></a></li>
		<li><span class="tooltip">Facebook</span><a class="fa fa-facebook" href="#"></a></li>
		<li><span class="tooltip">Google</span><a class="fa fa-google-plus" href="#"></a></li>	
	</ul>
		<hr />
		<p>All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</p>
		<p>Theme created by <a href="http://golem.io">golem.io</a> &bull; Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></p>
	</div>
</footer>
